@mixin reset-list() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin layout-centered() {
  margin: 0 auto;
  width: 320px;

  @media #{$tablet-condition} {
    width: 670px;
  }

  @media #{$desktop-condition} {
    width: 1050px;
  }
}

@mixin padder() {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;

  @media #{$tablet-condition} {
    padding: 0 50px;
  }

  @media #{$desktop-condition} {
    width: 1050px;
  }
}

@mixin footer-block() {
  min-height: 80px;
}
