@mixin reset-list() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin layout-centered() {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  @media #{$tablet-condition} {
    width: 768px;
  }
  @media #{$desktop-condition} {
    width: 1150px;
  } // outline: 1px dashed black;
}

@mixin padder() {
  padding-left: 30px;
  padding-right: 30px;
  @media #{$tablet-condition} {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@mixin footer-block() {
  min-height: 80px;
}

@mixin desktop-pad-left() {
  padding-left: 175px;
}

@mixin desktop-pad-right() {
  padding-right: 175px;
}

@mixin desktop-pad-horizontal() {
  @include desktop-pad-left();
  @include desktop-pad-right();
}

@mixin container() {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  @media #{$tablet-condition} {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media #{$desktop-condition} {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@mixin center-flex() {
  display: flex;
  align-items: center;
}

.container {
  @include container();
}

@mixin zigzag-gray() {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 7px;
    background-image: url("../img/zigzag-gray-mobile.png");
    background-repeat: repeat-x;
    background-position: 0 0;
    bottom: 0;
    @media #{$tablet-condition} {
      background-image: url("../img/zigzag-gray-tablet.png");
      height: 17px;
    }
    @media #{$desktop-condition} {
      background-image: url("../img/zigzag-gray-desktop.png");
      height: 23px;
    }
  }
}

@mixin zigzag-white() {
  @media #{$tablet-condition} {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 10px;
      background-image: url("../img/zigzag-white-tablet.png");
      background-repeat: repeat-x;
      background-position: 0 0;
      bottom: 0px;
    }
  }
  @media #{$desktop-condition} {
    &::after {
      background-image: url("../img/zigzag-white-desktop.png");
      height: 34px;
    }
  }
}

@mixin decorative($width,
$height) {
  content: "";
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  height: $height;
  width: $width;
}

@mixin desktop-container() {
  padding-left: 175px;
}

@mixin mobile-container() {
  padding-left: 28px;
}
