$gray-color: #444444;
$black-color: #000000;
$white-color: #ffffff;

$primary-text-color: $gray-color;
$secondary-text-color: $black-color;
$secondary-text-color-invert: $white-color;

$base-font-family: "Open Sans", arial, sans-serif;
$base-font-size: 13px;
$base-line-height: 24px;
$base-font-style: normal;
$base-font-weight: normal;
$base-text-decoration: none;

$font-size-lg: 15px;

$promo-color-primary: #63d1bb;
$promo-color-secondary: #56c3b2;
