.about-us {
  // @include layout-centered();
  padding-top: 25px;
  @media #{$tablet-condition} {
    padding-top: 50px;
    padding-bottom: 33px;
  }
  @media #{$desktop-condition} {
    padding-top: 58px;
    padding-bottom: 44px;
  }
  @include zigzag-gray();
}

.about-us__outer {
  @include layout-centered();
}

.about-us__inner {
  @include padder();
}
