.catalog-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media #{$tablet-condition} {
    flex-direction: row;
    min-height: 334px;
  }
  @media #{$desktop-condition} {
    flex-direction: column;
    min-height: 658px;
    width: 316px;
  }
  box-sizing: border-box;
  border: 1px solid #ececec;
}

.catalog-product__item {
  @media #{$tablet-condition} {
    flex-basis: 50%;
    flex-shrink: 0;
  }
  @media #{$desktop-condition} {
    flex-basis: auto;
  }
}

.catalog-product__image {
  // min-height: 195px;
  img {
    display: block;
    margin-left: -1px;
    margin-top: -1px;
  }
  background-color: $product-image-bg-color; // width: 260px;
  // height: 195px;
  // height: auto; // margin-bottom: 30px;
  @media #{$tablet-condition} {
    // width: 334px;
    // height: 334px;
  }
  @media #{$desktop-condition} {
    width: 316px;
    min-height: 462px;
  }
}

.catalog-product__description {
  box-sizing: border-box;
  padding-left: 27px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-product__details {
  box-sizing: border-box; // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  padding-top: 27px;
  padding-bottom: 17px; // height: auto;
  min-height: 104px;
  @media #{$tablet-condition} {
    // min-height: auto;
    padding-top: 25px;
  }
  @media #{$desktop-condition} {
    padding-top: 27px; // min-height: 123px;
    min-height: 123px;
    padding-bottom: 8px;
  }
}

.catalog-product__name {
  font-size: 17px;
  color: $secondary-text-color;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 6px;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  @media #{$tablet-condition} {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  @media #{$desktop-condition} {}
}

.catalog-product__characteristics {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  color: $primary-text-color;
  @media #{$tablet-condition} {
    font-size: 15px;
  }
}

.catalog-product__buy-wrapper {
  // margin-top: auto;
  // height: 72px;
  padding-top: 32px;
  padding-bottom: 32px;
  @media #{$tablet-condition} {
    padding-top: 23px;
    padding-bottom: 26px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
}

.catalog-product__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: $secondary-text-color;
  @media #{$tablet-condition} {
    font-size: 17px;
    padding-left: 5px;
  }
  @media #{$desktop-condition} {
    padding-left: 0px;
  }
}

.catalog-product__add-to-cart {
  font-size: 0;
  width: 21px;
  height: 19px;
  @media #{$tablet-condition} {
    padding-right: 5px;
  }
  @media #{$desktop-condition} {}
  &:hover {
    .icon-cart {
      fill: #63d1bb;
    }
  }
  &:active {
    .icon-cart {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }
}
