.catalog-product {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @media #{$tablet-condition} {
    flex-direction: row;
    min-height: 334px;
  }
  @media #{$desktop-condition} {
    flex-direction: column;
    min-height: 658px;
    width: 316px;
  }
  border: 1px solid $black-color;
}

.catalog-product__item {
  @media #{$tablet-condition} {
    flex-basis: 50%;
  }
  @media #{$desktop-condition} {
    flex-basis: auto;
  }
}

.catalog-product__image {
  background-color: $product-image-bg-color; // width: 260px;
  // height: 195px;
  height: auto; // margin-bottom: 30px;
  @media #{$tablet-condition} {
    // width: 334px;
    // height: 334px;
  }
  @media #{$desktop-condition} {
    width: 316px;
    // height: 462px;
  }
}

.catalog-product__description {
  padding-left: 30px;
  padding-right: 30px;
}

.catalog-product__name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}

.catalog-product__characteristics {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
}

.catalog-product__details {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 25px;
  // min-height: 105px;
  height: auto;
  @media #{$tablet-condition} {
    // height: 260px;
  }
  @media #{$desktop-condition} {
    // height: 123px;
  }
}

.catalog-product__buy-wrapper {
  margin-top: auto;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $black-color;
}

.catalog-product__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: $secondary-text-color;
}
