.categories {
  @media #{$tablet-condition} {
    @include container();
  }
}

.categories__list {
  @include reset-list();
  display: flex;
  @media #{$mobile-condition} {
    flex-direction: column;
  }
}

.categories a {
  font-size: 19px;
  font-weight: bold;
  color: $secondary-text-color-invert;
  display: block;
  outline: 1px dashed black;
  display: flex;
  align-items: center;
  @media #{$mobile-condition} {
    box-sizing: border-box;
    height: 103px;
    margin: 0 auto;
    width: 320px;
    padding: 0 160px 0 30px;
  }
  @media #{$tablet-condition} {
    height: 120px;
    padding-left: 35px;
    padding-right: 20px + 165px;
  }
  @media #{$desktop-condition} {
    padding-left: 40px;
    padding-right: 25px + 350px;
  }
}

.categories__item {
  flex-grow: 1;
  flex-basis: 0;
  &:nth-child(2n+1) {
    background-color: $promo-color-primary;
  }
  &:nth-child(2n) {
    background-color: $promo-color-secondary;
  }
}
