.categories {
  @media #{$tablet-condition} {
    @include container();
  }
}

.categories__list {
  @include reset-list();
  display: block;
  @media #{$tablet-condition} {
  display: flex;
    flex-direction: row;
  }
}

.categories__item {
  // transform: translateY(0px);
  // transform: translateY(-5px);
  // transition: height 0.2s ease-out;
  // height: 140px;
  // top: -20px;
  @media #{$tablet-condition} {
    position: relative;
    &:hover {
      margin-top: -5px;
    }
  }
}

.categories__item a {
  position: relative;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: $secondary-text-color-invert;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  display: block;
  padding-top: 25px;
  min-height: 78px;
  width: 130px;
  padding-left: 30px;
  padding-right: 160px;
  margin-left: auto;
  margin-right: auto;
  @media #{$tablet-condition} {
    font-size: 20px;
    line-height: 30px;
    // min-height: 120px;
    min-height: 89px;
    padding-top: 28px;
    // padding-left: 35px;
    // padding-right: 20px + 165px;
  }
  @media #{$desktop-condition} {
    // margin-top: -10px;
    padding-left: 30px;
    padding-right: 350px;
    min-height: 108px;
    // &:hover {
    //   transform: translateY(-5px);
    //   min-height: 140px;
    // }
  }
  color: rgba(255, 255, 255, 1);
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.categories__item--interior a::after {
  position: absolute;
  content: "";
  right: 37px;
  top: 23px;
  color: #3bb09d;
  background-color: transparent;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 62px;
  width: 39px;
  fill: red;
  @media #{$tablet-condition} {
    right: 30px;
    top: 30px;
  }
}

.categories__item--toys a::after {
  position: absolute;
  content: "";
  right: 27px;
  top: 20px;
  background-color: transparent;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 61px;
  width: 60px;
  @media #{$tablet-condition} {
    right: 28px;
    top: 30px;
  }
}

.categories__item {
  position: relative;
  @media #{$tablet-condition} {
    flex-grow: 1;
    flex-basis: 50%;
  }
  &:nth-child(2n+1) {
    background-color: $promo-color-primary;
  }
  &:nth-child(2n) {
    background-color: $promo-color-secondary;
  }
}
