.checkbox-list {
  @include reset-list();
  display: flex;
  flex-direction: column;
  @media #{$tablet-condition} {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media #{$desktop-condition} {
      padding-right: 0;
  }
}

.checkbox-list__item {
  @media #{$tablet-condition} {
    &:nth-of-type(2n+1) {
      width: 265px;
      margin-right: 0px;
    }
  }
  @media #{$desktop-condition} {
      width: 265px;
  }
}

.form-group__item.checkbox-list {
  @media #{$desktop-condition} {
    &:last-child {
      width: calc(100% - 145px);
      padding-right: 0;
    }
  }
}
