.contacts {
  padding-top: 45px;
  padding-bottom: 40px;
  @media #{$desktop-condition} {
    @include container();
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media #{$desktop-condition} {
    height: 457px;
  }
}

.contacts__wrapper {
  @include container();
}

.contacts__heading {
  @include container();
  @include subheading();
  margin-bottom: 37px;
  @media #{$tablet-condition} {
    padding-top: 19px;
    margin-bottom: 51px;
  }
  @media #{$desktop-condition} {
    @include container0();
  }
  @media #{$desktop-condition} {
    padding-top: 75px;
    padding-left: 175px;
    width: 350px;
    margin-bottom: 46px;
  }
}

.contacts__table {
  margin: 0;
  padding: 0;
  @include container();
  margin-bottom: 41px;
  @media #{$tablet-condition} {
    margin-bottom: 62px;
  }
  @media #{$desktop-condition} {
    @include container0();
  }
  @media #{$desktop-condition} {
    padding-left: 175px;
    width: 350px;
    margin-bottom: 83px;
  }
}

.contacts__table-row {
  display: table-row;
  @media #{$tablet-condition} {
    display: table-cell;
    width: 50%;
  }
  @media #{$desktop-condition} {
    display: table-row;
    width: initial;
  }
}

.contacts__table-cell {
  display: table-cell;
}

.contacts__table,
.contacts__table a {
  @include text-sm();
}

.contacts__map {
  margin: 0 auto;
  background-color: $gray-light-color;
  background-image: url("/img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 320px;
  height: 457px;
  margin-bottom: 39px;
  @media #{$tablet-condition} {
    width: 768px;
    margin-bottom: 55px;
  }
  @media #{$desktop-condition} {
    width: 525px;
    margin: initial;
    align-self: flex-end;
  }
}

.contacts__write {
  @include container();
  @media #{$desktop-condition} {
    @include container0();
  }
  @media #{$desktop-condition} {
    padding-left: 175px;
  }
}
