.featured-products {
  // @include layout-centered();
  padding-top: 26px;
  padding-bottom: 42px;
  @media #{$tablet-condition} {
    padding-top: 45px;
    padding-bottom: 69px;
  }
  @media #{$desktop-condition} {
    padding-top: 57px;
    padding-bottom: 96px;
  }
  @include zigzag-gray();
}

.featured-products__wrapper {
  @include container();
}
