.featured-product {
  display: flex;

  flex-direction: column;

  @media #{$tablet-condition} {
    flex-direction: row;
  }

  @media #{$desktop-condition} {
    flex-direction: row;
  }
}

.featured-product__name {
  order: -10;
}

.featured-product__promo {
  order: -9;
}

.featured-product__details {
  order: -8;
}

.featured-product__image {
  order: -7;
}

.featured-product__order {
  order: -6;
}
