.form-group {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  @media #{$tablet-condition} {
    flex-direction: row;
    align-items: baseline;
  }
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.form-group--comment .form-group__name {
  @media #{$tablet-condition} {
    margin-top: 18px;
    align-self: flex-start;
  }
}

.form-group {
  @media #{$mobile-condition} {
    padding-bottom: 30px;
    &--comment {
      padding-bottom: 0;
    }
  }
}

.form-group__item {
  flex-shrink: 0;
  @media #{$tablet-condition} {
    &:last-child {
      width: calc(100% - 167px);
    }
  }
  @media #{$desktop-condition} {
    &:last-child {
      width: calc(100% - 175px);
      box-sizing: border-box;
      padding-right: 175px;
    }
  }
}

.form-group__name {
  margin-bottom: 22px;
  color: $promo-color-primary;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-color: #62d1ba;
    top: 50%;
    left: 62px;
    width: calc(100% - 62px);
    height: 1px;
    @media #{$tablet-condition} {
      display: none;
    }
  }
  @media #{$tablet-condition} {
    width: 167px;
  }
  @media #{$desktop-condition} {
    width: 175px;
    text-align: center; // padding-left: 175px;
    // padding-right: 175px;
  }
}

.form-group textarea {
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 140px;
  border: 2px solid black; // background-color: transparent;
  // border: none;
  @media #{$tablet-condition} {
    font-size: 19px;
  }
}

.form-group__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $secondary-text-color;
  @media #{$tablet-condition} {
    font-size: 19px;
    margin-right: 25px;
  }
}

.form__footer-container {
  display: flex;
  flex-direction: column;
  @media #{$tablet-condition} {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  @media #{$desktop-condition} {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.form__footer-container .btn {
  width: 230px;
}

.form__footer-container p {
  font-size: 17px;
  line-height: 30px;
}
