.form-group {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  @media #{$tablet-condition} {
    flex-direction: row;
  }
}

.form-group {
  padding-bottom: 30px;

  &--comment {
    padding-bottom: 0;
  }
}

.form-group__item {
  flex-shrink: 0;
  @media #{$tablet-condition} {
    &:last-child {
      width: calc(100% - 167px);
    }
  }
  @media #{$desktop-condition} {
    &:last-child {
      width: calc(100% - 175px);
      box-sizing: border-box;
      padding-right: 175px;
    }
  }
}

.form-group__name {
  margin-bottom: 22px;
  color: $promo-color-primary;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-color: #62d1ba;
    top: 50%;
    left: 62px;
    width: calc(100% - 62px);
    height: 1px;
  }
  @media #{$tablet-condition} {
    width: 167px;
  }
  @media #{$desktop-condition} {
    width: 175px;
    text-align: center; // padding-left: 175px;
    // padding-right: 175px;
  }
}

.form-group textarea {
  box-sizing: border-box;
  width: 100%;
  height: 140px;
  border: 2px solid black; // background-color: transparent;
  // border: none;
}

.form-group__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $secondary-text-color;
}

.form__footer-container {
  display: flex;
  flex-direction: column;
  @media #{$tablet-condition} {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  @media #{$desktop-condition} {
    padding-left: 175px;
  }
}
