.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  svg {
    position: absolute;
    right: 6px;
    top: -7px;
    @media #{$tablet-condition} {
      right: 25px;
      top: 0;
    }
    @media #{$desktop-condition} {
      right: 185px;
      top: 10px;
    }
  }
  &:hover {
    .icon-phone {
      fill: #62d1ba;
    }
    .icon-mail {
      fill: #62d1ba;
    }
  }
  &:not(:last-of-type) {
    margin-bottom: 23px;
  }
  @media #{$tablet-condition} {
    flex-direction: row;
    align-items: baseline;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}
