.hero-unit {
  min-height: 180px;
  background-color: $gray-light-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-unit__outer {
  @include layout-centered();
}

.hero-unit__inner {
  @include padder();
}
