@media #{$mobile-condition} {
  .main-nav__deals-list,
  .main-nav__delivery {
    display: none;
  }
}

@media #{$tablet-condition} {
  .main-nav__deals-list {
    display: none;
  }
  .main-nav__delivery {
    display: initial;
  }

  .main-nav__logo {
    order: -10;
  }

  .main-nav__search-and-cart {
    order: -9;
  }

  .main-nav__primary-list {
    order: -8;
  }

  .main-nav__delivery {
    order: -7;
  }
}

@media #{$desktop-condition} {
  .main-nav__deals-list,
  .main-nav__deals-list {
    display: initial;
  }

  .main-nav__primary-list {
    order: -10;
  }

  .main-nav__logo {
    order: -9;
  }

  .main-nav__search-and-cart {
    order: -8;
  }

  .main-nav__deals-list {
    order: -7;
  }

  .main-nav__delivery {
    order: -6;
  }
}
