.main-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 0;
  // @include padder();
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    @media #{$tablet-condition} {
      height: 90px;
    }
    @media #{$desktop-condition} {
      height: 90px;
    }
  }
}

.main-nav__logo {
  min-height: 80px;
  display: block; // align-self: center;
  @media #{$mobile-condition} {}
  @media #{$tablet-condition} {
    height: 90px;
    flex-basis: 48%;
  }
  @media #{$desktop-condition} {
    height: 90px;
    flex-basis: (100 / 3) + 0%;
  }
}

.main-nav__search-and-cart {
  @media #{$tablet-condition} {
    flex-basis: 52%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  @media #{$desktop-condition} {
    flex-basis: (100 / 3) + 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.main-nav__primary-list,
.main-nav__deals-list {
  @include reset-list();
}

.main-nav__primary-list {
  // @media #{$tablet-condition} {
  //   flex-basis: 52%;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: flex-end;
  //   align-items: center;
  // }
  @media #{$desktop-condition} {
    flex-basis: (100 / 3) + 0%; // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    // align-items: center;
  }
}

@media #{$mobile-condition} {
  .main-nav__primary-list,
  .main-nav__search-and-cart,
  .main-nav__deals-list,
  .main-nav__delivery {
    display: $mobile-menu-display;
  }
  .main-nav__primary-list,
  .main-nav__primary-item,
  .main-nav__search-and-cart {
    box-sizing: border-box;
    width: 100%;
  }
  .main-nav__primary-item a,
  .main-nav__search-and-cart a {
    text-align: center;
    display: block;
    min-height: 80px;
    background-color: $white-color;
    @include padder();
  }
}

.main-nav__toggle {
  display: none;
  align-self: center;
  @media #{$mobile-condition} {
    display: initial;
  }
  z-index: 1;
}

.main-nav__primary-item {
  @media #{$tablet-condition} {
    display: inline-block; // width: 165px;
  }
  @media #{$desktop-condition} {
    &:not(:last-of-type) {
      padding-right: 35px;
      border-right: 1px solid gray;
    }
  }
}

.main-nav__deals-item {
  @media #{$desktop-condition} {
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: 60px;
    }
  }
}
