.main-nav {
  // @include padder();
  min-height: 80px;
  background-color: green;

  @media #{$tablet-condition} {
    min-height: 90px;
  }

  @media #{$desktop-condition} {
    min-height: 90px;
  }
}

// .main-nav__panel {
//   min-height: 80px;
//   width: 100%;

//   @media #{$tablet-condition} {
//     min-height: 90px;
//   }

//   @media #{$desktop-condition} {
//     min-height: 90px;
//   }
// }

.main-nav__logo {
  min-height: 80px;
  box-sizing: border-box;
  @media #{$mobile-condition} {
    margin-left: auto;
    margin-right: auto;
  }
}

.main-nav__primary-list,
.main-nav__deals-list {
  @include reset-list();
}


@media #{$mobile-condition} {
  .main-nav__primary-list,
  .main-nav__search,
  .main-nav__cart,
  .main-nav__deals-list,
  .main-nav__delivery {
    display: $mobile-menu-display;
  }

  .main-nav__primary-list,
  .main-nav__primary-item,
  .main-nav__search,
  .main-nav__cart {
    box-sizing: border-box;
    width: 100%;
  }

  .main-nav__primary-item a,
  .main-nav__search a,
  .main-nav__cart a {
    text-align: center;
    display: block;
    min-height: 80px;
    background-color: $white-color;
    @include padder();
  }
}

.main-nav {
  position: relative;
}

.main-nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    flex-wrap: wrap;
  @media #{$tablet-condition} {
    @include padder();
  }
}

.main-nav__toggle {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  @media #{$mobile-condition} {
    display: initial;
  }
  z-index: 1;
}

.main-nav__cart {
  @media #{$tablet-condition} {
    flex-basis: 265px;
    flex-shrink: 0;
  }
}

.main-nav__search {
  @media #{$tablet-condition} {
    flex-basis: 85px;
    flex-shrink: 0;
  }
}

.main-nav__primary-item {
  @media #{$tablet-condition} {
    display: inline-block;
    width: 150px;
  }

  @media #{$desktop-condition} {
    &:not(:last-of-type) {
      margin-right: 35px;
      border-right: 1px solid gray;
    }
  }
}
.main-nav__deals-item {
  @media #{$desktop-condition} {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 60px;
    }
  }
}
