.order-form {
  // @include layout-centered();
  padding-top: 22px;
  padding-bottom: 55px;
  @media #{$tablet-condition} {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  @media #{$desktop-condition} {
    padding-top: 105px;
    padding-bottom: 52px;
  }
}

.order-form__lead {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 25px;
  @media #{$tablet-condition} {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 9px;
  }
  @media #{$desktop-condition} {
    // width: 700px;
    // box-sizing: border-box;
    padding-left: 175px;
    padding-right: 175px;
  }
}


.order-form__footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$tablet-condition} {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  @media #{$desktop-condition} {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.order-form__footer-container .btn {
  @media #{$tablet-condition} {
    width: 230px;
  }
}

.order-form__constraints {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 27px;
  @media #{$tablet-condition} {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}
