.our-advantages__heading {
  margin-top: 0;
  margin-bottom: 30px;
  @include heading();
}

.our-advantages__list {
  @include reset-list();
}

.our-advantages__item {
  @include text-lg();
  padding-top: 20px + 35px;
  margin-bottom: 30px;
  // margin-bottom: 85px;
  // &:last-of-type {
  //   margin-bottom: 0;
  // }
  position: relative;
  &--eco::before {
    @include decorative(100px, 100px);
    background-image: url("/img/icon-feature-1.svg");
    top: 0;
    left: 7px;
  }
  &--cash::before {
    @include decorative(100px, 100px);
    background-image: url("/img/icon-feature-3.svg");
    top: 0;
    left: 0;
  }
  &--love::before {
    @include decorative(100px, 100px);
    background-image: url("/img/icon-feature-5.svg");
    top: 0;
    left: 7px;
  }
  &--clew::before {
    @include decorative(100px, 100px);
    background-image: url("/img/icon-feature-2.svg");
    top: 0;
    left: 7px;
  }
  &--rocket::before {
    @include decorative(100px, 100px);
    background-image: url("/img/icon-feature-4.svg");
    top: 0;
    left: -7px;
  }
  &--gift::before {
    @include decorative(100px, 100px);
    background-image: url("/img/icon-feature-6.svg");
    top: 0;
    left: 3px;
  }
}