.our-advantages__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.our-advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media #{$tablet-condition} {
  .our-advantages__list {
    flex-basis: 50%;
  }
}

@media #{$desktop-condition} {
  .our-advantages {
    @include desktop-pad-horizontal();
  }
}

@media #{$mobile-condition} {}
