.page-footer {
  background-color: $gray-light-color;
}

.page-footer__outer {
  @include layout-centered();
}

.page-footer__inner {
  @include padder();
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media #{$tablet-condition} {
    min-height: 143px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.page-footer__item {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media #{$mobile-condition} {
    &:not(:last-of-type) {
      border-bottom: 1px solid #e5e5e5;
    }
  }
  @media #{$tablet-condition} {
    min-height: auto;
    flex-basis: calc(100% / 3);
  }
}

.footer-logo {
  @media #{$mobile-condition} {
    display: none;
  }
  @media #{$tablet-condition} {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.footer-logo__svg {
  &:hover {
    fill: #62d1ba;
  }

  &:active {
    // fill: #62d1ba;
    opacity: 0.3;
  }
}