.page-footer {
  background-color: $gray-light-color;
}

.page-footer__outer {
  @include layout-centered();
}

.page-footer__inner {
  @include padder();
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media #{$tablet-condition} {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media #{$mobile-condition} {
  .footer-logo {
    display: none;
  }
}

@media #{$tablet-condition} {}

@media #{$desktop-condition} {}
