.radio-list__item:not(:last-of-type),
.checkbox-list__item:not(:last-of-type) {
  margin-bottom: 25px;
}

@media #{$tablet-condition} {
  .radio-list__item:not(:last-of-type),
  .checkbox-list__item:not(:last-of-type) {
    margin-bottom: 27px;
  }
  .radio-list__item:last-of-type,
  .checkbox-list__item:last-of-type,
  .checkbox-list__item:nth-last-of-type(2):nth-of-type(3n+2),
  .checkbox-list__item:nth-last-of-type(3):nth-of-type(3n+1) {
    margin-bottom: 0;
  }
}

@media #{$desktop-condition} {
  .radio-list__item,
  .checkbox-list__item {
    margin-bottom: 25px;
  }
  .radio-list__item:last-of-type,
  .checkbox-list__item:last-of-type,
  .checkbox-list__item:nth-last-of-type(2):nth-of-type(2n+1) {
    margin-bottom: 0;
  }
}
