.review {
  margin: 0;
  margin-bottom: 35px;
}

.review__text {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 35px;
}

.review__author-name {
  font-size: 17px;
  font-weight: bold;
  color: $secondary-text-color;
  font-style: normal;
}

.review__author-username {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
}
