.reviews {
  @include centerer();
  padding-bottom: 50px;
}

.review {
  margin: 0;
  margin-bottom: 35px;
}

.reviews__heading {
  @include heading();
  margin-bottom: 30px;
}

.review__text {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 35px;
}

.review__author-name {
  font-size: 17px;
  font-weight: bold;
  color: $secondary-text-color;
  font-style: normal;
}

.review__author-username {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
}

.reviews__toggle-wrapper {
  margin-bottom: 40px;
}
