.top-nav {
  position: relative;
  height: 80px;
  @media #{$tablet-condition} {
    height: 88px;
  }
}

.top-nav__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.top-nav__logo {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media #{$tablet-condition} {
    justify-content: flex-start;
  }
  @media #{$desktop-condition} {
    flex-basis: calc(100% / 3);
    justify-content: center;
  }
}

.top-nav__toggle {
  font-size: 0;
  background: none;
  border: none;
  position: absolute;
  z-index: 1;
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  right: 0;
  top: 30px;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
  &--clicked {
    background-image: url("../img/icon-menu-close.svg");
  }
}

.top-nav__primary-list,
.top-nav__deals-list {
  @include reset-list();
}

.top-nav__primary-list,
.top-nav__search-and-cart,
.top-nav__deals-list,
.top-nav__delivery {
  display: none;
  a {
    display: block;
    min-height: 80px;
    display: flex;
    align-items: center;
    padding-left: 45px;
    @media #{$tablet-condition} {
      padding-left: 0;
    }
  }
}

.top-nav__primary-list,
.top-nav__search-and-cart {
  // display: initial;
  @media #{$mobile-condition} {
    background-color: white;
    z-index: 1;
  }
  @media #{$desktop-condition} {
    flex-basis: calc(100% / 3);
  }
}

.top-nav__primary-list .top-nav__menu-item:first-of-type {
  border-top: 1px solid #ececec;
}

.top-nav__menu-item {
  @media #{$mobile-condition} {
    border-bottom: 1px solid #ececec;
  }
}

.top-nav__search {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 19px;
    top: calc(50% - 19px / 2);
    left: 2px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @media #{$tablet-condition} {
      top: calc(50% - 19px / 2);
      left: calc(50% - 18px / 2);
    }
  }
  @media #{$tablet-condition} {
    border-left: 1px solid #ececec;
  }
}

.top-nav__cart {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 18px;
    top: calc(50% - 18px / 2);
    left: 2px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @media #{$tablet-condition} {
      top: calc(50% - 19px / 2);
      left: 30px;
    }
  }
  @media #{$tablet-condition} {
    border-left: 1px solid #ececec;
  }
}

@media #{$tablet-condition} {
  .top-nav {
    position: static;
  }
  .top-nav__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .top-nav__search-and-cart,
  .top-nav__primary-list {
    display: flex;
    flex-direction: row;
  }
  .top-nav__search a {
    width: 82px;
    height: 88px;
    font-size: 0;
  }
  .top-nav__cart a {
    width: 264px - 82px;
    height: 88px;
    padding-left: 82px;
  }
  .top-nav__primary-item a {
    width: 167px - 20px; // padding-top: 22px;
    padding-right: 20px;
    height: 88px;
  }
  .top-nav__delivery {
    display: initial;
    font-size: 15px;
    line-height: 24px;
  }
  .top-nav__toggle {
    display: none;
  }
}

@media #{$desktop-condition} {
  .top-nav__deals-list {
    display: flex;
  }
  .top-nav__primary-item {
    a {
      width: auto;
    }
    &:not(:last-of-type) {
      a {
        width: 183px - 20px; // padding-top: 22px;
        padding-right: 20px;
        height: 88px;
        border-right: 1px solid gray;
      }
    }
    &:not(:first-of-type) {
      a {
        padding-left: 35px;
        padding-right: 35px;
      }
    }
  }
  .top-nav__deals-item {
    a {
      height: 88px;
    }
    &:not(:last-of-type) {
      a {
        width: 184px - 20px; // padding-top: 22px;
        padding-right: 20px;
      }
    }
    &:not(:first-of-type) {
      a {
        padding-left: 35px;
        padding-right: 35px;
      }
    }
  }
}
