@media #{$tablet-condition} {
  .video-container__content {
    order: -10;
  }
  .video-container__heading {
    order: -9;
  }
  .video-container__description {
    order: -8;
  }
}

@media #{$desktop-condition} {
  .video-container__heading {
    order: -10;
  }
  .video-container__description {
    order: -9;
  }
  .video-container__content {
    order: -8;
  }
}
